{
    // Place where basic rules and extensions are defined
    "extends": [
      "eslint:recommended", // ESLint's recommended base rules
      "plugin:react/recommended", // Recommended rules for React projects
      "plugin:@typescript-eslint/recommended", // Recommended rules for TypeScript
      "plugin:tailwindcss/recommended", // Recommended rules for Tailwind CSS
      "plugin:jsx-a11y/recommended", // Recommended rules for accessibility (a11y)
      "plugin:react-hooks/recommended" // Rules for using React Hooks
    ],
    "root": true, // Indicates that there is no upper-level configuration that will override this
    "parserOptions": {
      "ecmaVersion": "latest", // Supports modern ECMAScript features
      "sourceType": "module", // Supports ES6 modules
      "ecmaFeatures": {
        "jsx": true // Supports JSX syntax
      }
    },
    "env": {
      "browser": true, // Supports the browser environment
      "commonjs": true, // Supports CommonJS modules
      "es6": true, // Supports ECMAScript 6 features
      "jest": true // Environment suitable for Jest testing framework
    },
    "plugins": [
      "react", // ESLint rules specific to React
      "jsx-a11y", // Rules for accessibility
      "tailwindcss", // Rules for using Tailwind CSS
      "@typescript-eslint", // Rules for TypeScript
      "import" // Rules for managing and sorting imports
    ],
    "settings": {
      "react": {
        "version": "detect" // Automatically detects the React version
      },
      "import/resolver": {
        "typescript": {
          "project": "./tsconfig.json" // Uses the TypeScript configuration file
        },
        "node": {
          "extensions": [".js", ".jsx", ".ts", ".tsx"] // Supported file extensions
        }
      }
    },
    "overrides": [
      {
        "files": ["**/*.{js,jsx,ts,tsx}"],
        "extends": [
          "plugin:react/recommended",
          "plugin:jsx-a11y/recommended",
          "plugin:react-hooks/recommended"
        ],
        "settings": {
          "react": { "version": "detect" },
          "import/resolver": {
            "typescript": {}, // Resolves TypeScript files
            "node": { "extensions": [".js", ".jsx", ".ts", ".tsx"] }
          }
        }
      },
      {
        "files": ["**/*.{ts,tsx}"],
        "parser": "@typescript-eslint/parser", // Special parser for TypeScript
        "extends": [
          "plugin:@typescript-eslint/recommended", // Recommended rules for TypeScript
          "plugin:import/recommended", // Rules for import management
          "plugin:import/typescript" // TypeScript import rules
        ],
        "rules": {
          "import/order": [
            "error",
            {
              // Import sorting rule
              "alphabetize": { "order": "asc" } // Alphabetical sorting
            }
          ]
        }
      },
      {
        "files": ["*.test.{js,ts,jsx,tsx}"],
        "env": { "jest": true }, // Jest testing environment
        "plugins": ["jest"], // Jest rules
        "extends": ["plugin:jest/recommended"] // Recommended rules for Jest
      },
      {
        "files": [".eslintrc.cjs"],
        "env": {
          "node": true // Node.js environment
        }
      }
    ]
  }